<h1>List of every Cocktails!</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end %>
</ul>



<div class="card-product">
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<div>
  <i class="fas fa-plus"></i><%= link_to 'Add a new cocktail', new_cocktail_path %>
</div>
